@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 22%;
    --foreground: 220 9% 95%;

    --card: 220 13% 22%;
    --card-foreground: 220 9% 95%;

    --popover: 220 13% 22%;
    --popover-foreground: 220 9% 95%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 220 14% 28%;
    --secondary-foreground: 220 9% 95%;

    --muted: 220 14% 28%;
    --muted-foreground: 220 9% 70%;

    --accent: 220 14% 28%;
    --accent-foreground: 220 9% 95%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 14% 28%;
    --input: 220 14% 28%;
    --ring: 224 71% 4%;

    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 96%;
    --foreground: 220 13% 22%;

    --card: 0 0% 96%;
    --card-foreground: 220 13% 22%;

    --popover: 0 0% 96%;
    --popover-foreground: 220 13% 22%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 220 14% 92%;
    --secondary-foreground: 220 13% 22%;

    --muted: 220 14% 92%;
    --muted-foreground: 220 9% 50%;

    --accent: 220 14% 92%;
    --accent-foreground: 220 13% 22%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 221 83% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .animate-in {
    animation: fadeIn 1s ease forwards;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

